<div>
    <h1>Cart</h1>
    <div>
      <button class="deleteBtn" onclick="deleteCart()">Clear Cart</button>
    </div>
    <div class="cartView">
       <table >
  <tr>
    <th  class="titleTable">Product</th>
    <th  class="titleTable">Title</th>
    <th class="titleTable">Price</th>
    <th class="titleTable">description</th>
    <th class="titleTable">Quantity</th>
    <th class="titleTable"> Delete</th>
  </tr>
</table>
        <ul class="cards" id="cards">
        {{#each cart.products}}
    
            <li class="productCart">
                 <div>
           <img class="imageCart" src="{{this.product.thumbnails.[0]}}"></img>
           </div>
            <div>
            {{this.product.title}}
           </div>
            <div>
            ${{this.product.price}}
           </div>
            <div>
            {{this.product.description}}
           </div>
            <div class="titleTable">
            {{this.quantity}}
           </div>
            <div >
            <button class="deleteBtn" onclick="deleteItemCart(this)">X</button>
           <div hidden id="idItem">{{this.product._id}}</div>
           </div> 
           </li>
       
        {{/each}}
        </ul>
    </div>
    <nav name="paginado">
        <div id="back" ><button onclick="navigateTo(/products/)">Back</button></div>
    </nav>
</div>
<script src="/js/cart.js"></script>